.aero-nudge-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  width: fit-content;
  min-width: 400px;
  color: white;
  align-items: center;
  border-radius: 9999px;
  background-image: linear-gradient(to bottom, #374151, #111827);
  padding-left: 1rem;
  padding-right: 0.75rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3),
    0 8px 10px -6px rgba(0, 0, 0, 0.3);
}

.aero-nudge-icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.aero-nudge-button {
  transition: all 0.2s ease-in-out;
  text-align: center;
  color: white;
  padding: 0.5rem 0.9rem;
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 9999px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.3),
    0 8px 10px -6px rgba(0, 0, 0, 0.3);
}

.aero-nudge-reset {
  background-color: #ef4444;
}

.aero-nudge-action {
  background-color: #22c55e;
}
